@media only screen and (min-width: 0) and (max-width: 768px) {
    .hamburger-menu{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 769) and (max-width: 1024px) {
    .hamburger-menu{
        display: none;
    }
}
*{
    margin: 0;
    padding: 0;
}
.nav-links a{
    text-decoration: none;
}
.nav-links a:hover{
    text-decoration: none;
    color: blue;
}
.hamburger-menu{
    display: none;
}
.zespol img{
    border-radius: 10px;
    max-height: 7%;
    max-width: 7%;
}
.banner-content img{
    height: 20vh;
    width: 100%;
}
.footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f1f1f1; /* kolor tła, można dostosować */
    bottom: 0;
    width: 100%;
}
.spolecznosci{
    display: flex;
    flex-direction: row;
}
.menu img{
    height: 10vh;
    width: 35vh;
}