* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: rgb(0, 100, 0);
    text-align: center;
    color: rgb(255, 165, 0);
}
aside{
    width: 20%;
    background-color: rgb(144, 238, 144);
}
main{
    font-size: 16pt;
    padding-left: 10px;
    background-color: rgb(144, 238, 144);
}
form{
    background-color: rgb(0, 128, 0);
    align-items: center;
    width: 50%;
}
footer{
    background-color: rgb(0, 100, 0);
    color: rgb(255, 165, 0); 
    font-size: 18pt;
}
input[type="submit"], input[type="reset"] {
    background-color: rgb(0, 100, 0);
    color: rgb(255, 165, 0);
    font-weight: bold;
}
img {
    width: 50%;
    height: auto;
    background-color: white;
    border: 1px solid rgb(255, 165, 0);
}
input{
    width: 100%;
    font-size: 14pt;
}

#infobox {
    display: none;
    background: white;
    position: absolute;
    top: calc(50vh /2);
    left: calc(50vw /2);
    width: 50vw;
    height: 50vh;
    z-index: 500;
}