body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-app {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"], input[type="datetime-local"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    background-color: #6200ea;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.todo-list li.completed {
    background-color: #d4edda;
}

.complete-btn, .delete-btn, .edit_btn {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.delete-btn {
    color: red;
}

.complete-btn {
    color: green;
}

.clear-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.clear-btn:hover {
    background-color: darkred;
}
