body {
    font-family: 'Georgia';
}

#lewy {
    background: Maroon;
    color: white;
    height: 600px;
    width: 30%;
    float: left;
}

#prawy {
    background: Maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow-y: scroll;
    float: left;
}

footer {
    clear: both;
    background: dimgray;
    color: white;
}

#prawy img {
    float: left;
}

#prawy ul {
    float: left;
}

#prawy p {
    clear: both;
}

p {
    padding: 10px;
}

img {
    padding: 10px;
    border: 1px solid white;
}

#indigo {
    background: indigo;
}

#steelblue {
    background: steelblue;
}

#olive {
    background: olive;
}