* {
    font-family: Verdana;
}

header, footer {
    background: #004D40;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    clear: both;
}

#lewy {
    background: #80CBC4;
    color: white;
    height: 500px;
    width: 30%;
    float: left;
}

#srodkowy {
    background: #E0F2F1;
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}

#prawy-gora,
#prawy-dol {
    height: 250px;
    width: 40%;
}

#prawy-gora {
    float: right;
    background: #E0F2F1;
}

#prawy-dol {
    background: #B2DFDB;
    float: right;
}

h3 {
    text-align: center;
}

img {
    padding: 5px;
    height: 150px;
    border: 1px dotted #004D40;
    border-radius: 5px;
}

input, button {
    margin: 10px;
}